* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(130deg, #0D3E5B, #2AAF9D);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 588px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 20px;
    border-radius: 10px;
    overflow: hidden;
}

.todo-app h2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img {
    width: 20px;
    margin-left: 10px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    background:#e1e1e1;

}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none ;
    outline: none;
    padding: 16px 40px;
    background:linear-gradient(#4158D0,#C850C0,#FFCC70);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}
ul li{
    position: relative;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;

}
ul li:before{
    content:"" ;
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/img/icons8-unchecked-checkbox-50.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration:line-through;

}
ul li.checked:before{
     background-image: url(/img/ok-1976099_1280.png);

}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background:#a6d1fa ;
}
